# =============================================================================
# POST-PROCESSING & 3D VISUALIZATION CONFIGURATION
# =============================================================================

[paths]
# volume_path: Exact path to the reconstructed 3D volume you want to view.
# Supports .npy, .nii, and .nii.gz formats.
# volume_path = ../May_26th/BS0.05_80RPM/Iso1.3mm_Algo_FDK_CGLS/Recon/CGLS.npy
volume_path = ../May_26th/BS0.05_80RPM/Iso1.3mm_Algo_ChunkFDK_CGLS/Recon/ChunkFDK.npy

# save_dir: Directory where the extracted 2D slice PNGs will be saved
# save_dir = ../May_26th/BS0.05_80RPM/Iso1.3mm_Algo_FDK_CGLS/Recon/visualization_CGLS/slices/
save_dir = ../May_26th/BS0.05_80RPM/Iso1.3mm_Algo_ChunkFDK_CGLS/Recon/visualization_FDK/slices/

[processing]
# max_clip: The maximum attenuation value for image clipping. 
# Anything above this is forced to this value. Important for visual contrast.
# 0.004 FDK & 0.04 CGLS || ChunkFDK
# max_clip = 0.04
max_clip = 0.04

# align_orientation: If True, transposes and flips axes to align the volume 
# to standard viewing planes (Top, Front, Side).
align_orientation = True

[slices]
# Define specific slice numbers to extract as 2D images.
# If you don't want any slices for a specific axis, leave it as an empty list: []
# x_slices: Cuts across the ZY-plane
# x_slices = [260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270]
x_slices = [200, 201, 202, 203, 204, 205, 206, 207, 208, 209]
# x_slices = [160, 161, 162, 163, 164, 165, 166, 167, 168, 169]
# x_slices = [131,132,133]
# y_slices: Cuts across the XZ-plane
y_slices = []
# z_slices: Cuts across the XY-plane
z_slices = []

# cmap: Colormap used for the saved 2D slice PNGs (e.g., 'gray', 'jet', 'bone')
cmap = jet

[3d_viewer]
# show_3d: If True, launches an interactive PyVista window to view the 3D volume
show_3d = False

# apply_post_processing: If True, applies artifact reduction, median filtering, 
# and edge-preserving smoothing. This removes streak artifacts for much cleaner 3D rendering.
apply_post_processing = True